.counter{
    margin-top: 100px;
    position: relative;
}

.hero.counter::after{
background-image: url(../../data/image/black3.jpg);
height: 45vh !important;
}

.counter h1{
    margin: 0;
    font-size: 30px;
}

.counter h3{
    margin: 0;
    font-size: 25px;
}