.contact{
    margin: 110px 0 20px 0 !important;
    /* margin-top: 20px; */
}

.contact .right,
.contact .left{
    padding: 20px !important;
}

.contact .flex input:nth-child(1){
    margin-right: 10px;
}

.contact button,
.contact textarea,
.contact input{
    width: 100%;
    padding: 20px;
    border: none;
    outline: none;
    margin: 10px 0;
    border-radius: 8px;
}